# Environment
ENVIRONMENT=development
CORS_ALLOWED_ORIGINS=
LAN_IP=

# Dataset Paths
GEBCO_COG_PATH=
EMODNET_COG_PATH=
SDB_COG_PATH=
CLARITY_COG_PATH=
FUSED_COG_PATH=

# Copernicus Marine Service Credentials
COPERNICUSMARINE_SERVICE_USERNAME=
COPERNICUSMARINE_SERVICE_PASSWORD=
